.my-resumes {
  width: 100%;
  height: 100vh;
  background-color: rgba(228, 228, 228, 0.722);
  justify-items: center;
}

.resume {
  position: relative;
}

.resume:hover {
  cursor: pointer;
}

.use-template-btn-cont {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none;
}

.resume:hover .use-template-btn-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.use-template-btn-cont .MuiButtonBase-root.MuiButton-root.use-template-btn {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  visibility: visible;
  text-transform: capitalize;
}

.no-resumes-container {
  width: 100%;
  display: flex;
  /* padding-top: 150px; */
  position: relative;
  top: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-resumes-container .no-resumes-container .no-resumes-text {
  font-size: 15px;
  font-weight: 500;
}

.css-1633um2-MuiPaper-root {
  text-align: unset !important;
}

.my-resumes p,
.my-resumes li {
  font-size: 10px;
}

.my-resumes .profile-pic {
  width: 80%;
}

.my-resumes .img-section {
  margin-right: 0;
  margin-bottom: 0;
}

.my-resumes .personal {
  margin-left: 0px;
  margin-top: 25px;
  flex-grow: 1;

}

.my-resumes .profile-name {
  font-size: 25px;
  
  line-height: normal;
}

.my-resumes .job-title {
  font-size: 20px;
  line-height: normal;
}

.my-resumes .personal-info {
  font-size: 12px;
  margin: 25px 0;
  margin-left: 25px;
  margin-right: 10px;
}

.my-resumes h3 {
  font-size: 15px;
  padding: 5px;
}

.my-resumes .section ul {
  margin: 10px 20px;
}

.my-resumes .objective {
  margin-top: 0;
}

.my-resumes .skills {
  margin-bottom: 0;
}

.blurscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(1px);
}

.resume:hover .blurscreen {
  opacity: 2;
}

.my-resumes .MuiPaper-root{
  width: 550px;
  height: 700px;
}

@media screen and (max-width: 500px) {
  .my-resumes {
    padding: 0px;
  }

  
}

@media screen and (max-width: 1050px) {
  .my-resumes-container {
    justify-content: center;
    padding: 40px 30px !important;
  }
}

@media screen and (max-width: 600px) {
  .my-resumes .MuiPaper-root{
    width: 250px !important;
    height: 800px !important;
  }
}

@media screen and (max-width: 900px) {
  .my-resumes .MuiPaper-root{
    width: 400px;
    height: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .my-resumes .MuiPaper-root{
    width: 450px;
    height: 600px;
  }
}

@media screen and (max-width: 1530px) {
  .my-resumes .MuiPaper-root{
    width: 500px;
    height: 650px;
  }
}

@media screen and (max-width: 600px){
.my-resumes .MuiGrid-container {
  padding-left: 0px !important;
}

.my-resumes .profile-pic {
  width: 100%;
}

.my-resumes .img-section {
  margin:  10px;
}

.my-resumes .profile-name {
  font-size: 20px;
}

.my-resumes .job-title {
  font-size: 15px;
}
}